.path-mod-labassignment .results {border-collapse: separate;}
.path-mod-labassignment .results .data {vertical-align:top;white-space: nowrap;}
.path-mod-labassignment .button {text-align:center;}
.path-mod-labassignment .attemptcell {width:5px;white-space: nowrap;}
.path-mod-labassignment .anonymous,
.path-mod-labassignment .names {margin-left:auto;margin-right:auto; width:80%;}
.path-mod-labassignment .downloadreport {border-width:0;margin-left:10%;}
.path-mod-labassignment .labassignmentresponse {width:100%;}
.path-mod-labassignment .labassignmentresponse .picture {width:10px;white-space: nowrap;}
.path-mod-labassignment .labassignmentresponse .fullname {width:100%;white-space: nowrap;}

.path-mod-labassignment .responseheader {width: 100%; text-align: center; margin-top: 10px;}
.path-mod-labassignment .labassignments .option label {vertical-align: top;}
.path-mod-labassignment .labassignments .option input {vertical-align: middle;}

.path-mod-labassignment .horizontal,
.path-mod-labassignment .vertical {margin-left: 10%;margin-right: 10%;}
.path-mod-labassignment .horizontal .labassignments .option {padding-right:20px;display:inline; white-space: normal;}
.path-mod-labassignment .horizontal .labassignments .button {margin-top: 10px;}
.path-mod-labassignment ul.labassignments li {list-style:none;}
.path-mod-labassignment .results { text-align: center;}
.path-mod-labassignment .results.anonymous .graph.horizontal {vertical-align: middle;text-align: left;width:70%;}

.path-mod-labassignment .results.anonymous .graph.vertical,
.path-mod-labassignment .cell {vertical-align: bottom; text-align: center; }
.path-mod-labassignment .results.anonymous th.header {border: 1px solid inherit;}

.path-mod-labassignment .results.names .header{width:10%; white-space: normal;}
.path-mod-labassignment .results.names .cell{vertical-align: top; text-align: left;}
.path-mod-labassignment .results.names .user,
.path-mod-labassignment #yourselection {padding: 5px;}
.path-mod-labassignment .results.names .user .attemptaction,
.path-mod-labassignment .results.names .user .image,
.path-mod-labassignment .results.names .user .fullname{float:left;}
.path-mod-labassignment .results.names .user .fullname{padding-left: 5px;}
.path-mod-labassignment .results .data.header {width: 10%;}
.path-mod-labassignment .responseaction {text-align: center;}
.path-mod-labassignment .results .option {white-space: normal;}
.path-mod-labassignment .response {overflow: auto;}
.path-mod-labassignment .results .option,
.path-mod-labassignment .results .numberofuser,
.path-mod-labassignment .results .percentage {font-weight: bold; font-size: 108%;}

#page-mod-labassignment-report .downloadreport ul li {list-style:none;padding: 0 20px; display: inline;float: left; }
.path-mod-labassignment .clearfloat {float:none; clear:both;}

/**
 * Override for RTL layout
 */
.path-mod-labassignment.dir-rtl .horizontal .labassignments .option {padding-right:0px; padding-left: 20px; float:right;}
.path-mod-labassignment.dir-rtl .results.anonymous .graph.horizontal {text-align: right;}
.path-mod-labassignment.dir-rtl .results.anonymous { text-align: center; }
.path-mod-labassignment.dir-rtl .results.names .cell{text-align: right;}
.path-mod-labassignment.dir-rtl .results.names .user .attemptaction,
.path-mod-labassignment.dir-rtl .results.names .user .image,
.path-mod-labassignment.dir-rtl .results.names .user .fullname,
.path-mod-labassignment.dir-rtl .results.names .user .fullname{padding-left: 0px; padding-right: 5px;}
.path-mod-labassignment.dir-rtl .downloadreport {margin-left:0;margin-right: 25%;}

#page-mod-labassignment-report.dir-rtl .downloadreport ul li{float:right;}
#page-mod-labassignment-view.dir-rtl .reportlink {text-align: left;}
